<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--配置数据源，交给Spring来做-->
    <typeAliases>
        <!--意思是这个包 下的所有东西自己取别名，因为有可能去映射一些mappers文件-->
        <package name="com.zrn.pojo"/>
    </typeAliases>

    <!--注册接口对应的mapper-->
    <mappers>
        <mapper class="com.zrn.dao.StudentMapper" />
    </mappers>
</configuration>